<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    {% if title %}
        <title>QuickDash- {{title}}</title>
    {% else %}
        <title>QuickDash</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="/">QuickDash</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{{url_for('main.home')}}">Home</a>
                <a class="nav-item nav-link" href="{{url_for('main.about')}}">About</a>
                <a class="nav-item nav-link" href="{{url_for('users.data_visualization')}}">Data Visualization</a>
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                  <a class="nav-item nav-link" href="{{url_for('posts.new_post')}}">New Post</a>
                  <a class="nav-item nav-link" href="{{url_for('users.account')}}">Account</a>
                  <a class="nav-item nav-link" href="{{url_for('users.logout')}}">Logout</a>
                {% else %}
                  <a class="nav-item nav-link" href="{{url_for('users.login')}}">Login</a>
                  <a class="nav-item nav-link" href="{{url_for('users.register')}}">Register</a>
                {% endif %}              
              </div>
            </div>
          </div>
        </nav>
    </header>
    <div class="container">      
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}     
    </div>
    {% block content %}
    {% endblock %}
</body>